@media screen and (max-width:478px)
{
 html
 {
   font-size: 40%;
   width: 478px;
 }

 .topnav .im1
 {
   margin-top: 3rem;
 }
 .topnav .A
 {
   margin-top: 8rem;
   font-size: 2.5rem;
 }

 .scroll .first1
 {
   font-size: 2rem;
   font-weight: bolder;
 }

 .blur_img .im2
 {
   height: 15rem;
   width: 50rem;
   margin-left: -20rem;
 }

 .text
 {
   height: 15rem;
   width: 50rem;
   margin-left: -20rem;
 }

 .text .boxflex
 {
   margin-right: 40rem;
   margin-top: 5rem;
 }

 .text .boxflex1
 {
   margin-left: -17rem;
   margin-top: 2rem;
   color: white;
 }

 .main table
 {
   height: 180rem;
   width: 100rem;
   margin-left: -24rem;
   margin-top: 5rem;
   font-size: 0.1rem;
   background-color: #ffffff;
 }

 /* .main table
 {
   height: 180rem;
   width: 50rem;
   background-color: #ffffff;
   margin-left: -24rem;
   margin-top: 1rem;
 } */

 .speech
 {
   display: inline-block;
   height: 20rem;
   width: 120rem;
   margin-top: 6rem;
   margin-left: 2rem;
   /* border: .2rem solid rgb(213, 46, 130); */
 }

 .speech p .sms1
 {
   font-size: 2rem;
   margin-top: 3rem;
   margin-left: 1.5rem;
 }

 .speech .sms2
 {
   font-size: 2rem;
   font-weight: bolder;
 }

/* .location
 {
   width: 50rem;
   font-size: 2rem;
   color: #04AA6D;
   margin-right: 10rem;
   border: 0.2rem solid red;
 }

 .location .location-text
 {
   font-size: 2rem;
   font-weight: bold;
   margin-left: 34rem;
   color: #ef0606;
 } */

 .location iframe
 {
   height: 30rem;
   width: 55rem;
   /* background-color: #00fe04; */
   margin-top: 1rem;
   margin-left: -25rem;
   border: none;
 }

 .foot1 .footer-text
 {
   margin-top: 3.5rem;
   margin-left: 33rem;
   font-size: 2.5rem;
 }

 .foot1 .footer-second
 {
   margin-top: 3rem;
   margin-left: 24rem;
   font-size: 2.5rem;
 }


}

@media (min-width:641px)
{
 html
 {
   font-size: 64%;
   width: 100%;
 }
}


body
{
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(247, 247, 247);
}  
 
 .topnav 
 {
   overflow: hidden;
   background-color: #fefefe;
   /* height: 80px;
   width: 100%; */
 }
 .topnav p
{
 float: left;
 color: #09bfd3;
 font-size: 1.7rem;
 margin-top: 3.5rem;
 /* margin-left: 10px; */
}  
img
{
 height: 8rem;
 width: 8rem;
 float: left;
 mix-blend-mode: multiply;
}
 .topnav a 
 {
   float: right;
   color: #ff0088;
   text-align: center;
   padding: 1.4rem 2rem;
   text-decoration: none;
   font-size: 1.6rem;
   margin-right: .8rem;
   margin-top: 4rem;
   background: transparent;
 }

 .scroll
 {
   width: 100%;
   height: 4rem;
   background-color: #d7186b;
 }

 .scroll marquee
 {
   color: rgb(7, 255, 172);
   font-size: 1.3rem;
   margin-top: .5rem;
 }
 /* .topnav p {
   font-size: 30px;
   margin-bottom: 10px;
 } */
 
 .topnav a:hover 
 {
   background-color: #09bfd3;
   color: rgb(131, 240, 5);
 }
 
 .topnav a.active 
 {
   background-color: #fcd200;
   color: white;
 }

 .blur_img
 {
   height: 20rem;
   width: 65rem;
   background-color: #09bfd3;
   margin-left: 33rem;
   margin-top: 2rem;
   background: transparent;
   text-align: center;
 }

 .speech
 {
   display: inline-block;
   height: 20rem;
   width: 70rem;
   margin-top: 9rem;
   margin-left: 1rem;
   border: .2rem solid rgb(213, 46, 130);
   /* display: flex; */
   /* text-align: center; */
   /* justify-content: space-between; */
   /* background-color: #0022ff; */
 }

 .speech img
 {
   height: 20rem;
   width: 20rem;
   float: right;
   border-radius: 12rem;
   /* overflow: hidden; */
 }

 .speech .sms1
 {
   color: #1b02ff;
   margin-top: .5rem;
   margin-left: .3rem;
   font-size: 1.5rem;
   font-weight: bolder;
 }

 .speech .sms2
 {
   color: #1b02ff;
   margin-top: 2rem;
   margin-left: 1.5rem;
   font-size: 1.5rem;
   font-weight: bolder;
 }
 .text
 {
   height: 20rem;
   width: 85rem;
   background-color: #09bfd3;
   position: absolute;
   background: transparent;
   /* margin-top: 30px; */
 }

 .boxflex
 {
   margin-top: 2rem;
   font-size: 2rem;
   font-weight: bolder;
   color: #e1e1e1;
   margin-top: 9rem;
 }

 .boxflex1
 {
   font-size: 1.5rem;
   font-weight:900;
   margin-left: 40rem;
 }
 
 .im2
 {
   height: 20rem;
   width: 85rem;
   filter: blur(.5rem);
 }
 .title 
 {
   text-align: center;
   padding: 1rem;
   background-color: #04AA6D;
   color: white;
   margin-top: 0;
 }
 
 .content 
 {
   padding: 2rem;
   text-align: center;
   /* background: transparent; */
 }
 
 .box 
 {
   width: 100%;
   border: .1rem solid #ccc;
   border-radius: 1rem;
   padding: 2rem;
   margin-bottom: 1rem;
   background-color: #f8f8f8;
   background: transparent;
   border: none;
 }
 
 /* .box h2 
 {
   margin-top: 0;
 }
 
 .box p 
 {
   font-size: 16px;
   line-height: 1.5;
 } */

 .fa-solid
 {
   margin-right: .8rem;
 }
 
 .button 
 {
   display: inline-block;
   padding: 1rem 2rem;
   background-color: #1f6e06;
   color: white;
   border: none;
   border-radius: .8rem;
   cursor: pointer;
 }
 
 .button::before,
 .button::after
 {
   content: "";
   position: absolute;
   z-index: -1;
   /* height: 100%; */
   width: 100%;
   left: 0;
   top: 0;
   border-radius: .2rem;
   
 }
 .button:hover 
 {
   background-color: #9500ff;
   box-shadow: 0 0 .5rem #f90303, 0 0 2.5rem #ef0606, 0 0 5rem #fe0101, 0 0 20rem #fc0202;
   color: #2f2f2f;
 }

 .main
 {
   height: 180rem;
   width: 100rem;
   background-color: transparent;
   margin-left: 25rem;
   margin-top: 5rem;
   /* box-shadow: -10px 20px #2f2f2f; */
 }
 .main header
 {
   font-size: 2rem;
   font-weight: bolder;
   margin-left: 2rem;
   color: #ff0000;
 }

 .main table 
 {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 70rem;
   height: 100%;

 }
 
 tr
 {
   border: .1rem solid #dddddd;
   text-align: center;
   padding: .8rem;
   color: #d21b98;
 }

 td
 {
   border: .1rem solid #dddddd;
   text-align: center;
   padding: .8rem;
   font-size: 2rem;
   font-weight: bolder;
 }
 
 tr:nth-child(even) 
 {
   background-color: #ffffff;
 }
 
 .location
 {
   height: 30rem;
   width: 80rem;
   /* background-color: #00fe04; */
   margin-top: 6rem;
   margin-left: 35rem;
   /* border: .2rem solid #2f2f2f; */
 }

 .location .location-text
 {
   font-size: 2rem;
   font-weight: bold;
   margin-left: 1rem;
   color: #ef0606;
 }

 iframe
 {
   height: 25rem;
   width: 80rem;
 }

 .foot1
 {
   height: 17rem;
   width: 100%;
   background-color: #000000;
   margin-top: 10rem;
   /* border: 4px solid white; */
 }

 .footer-text
 {
   font-size: 2rem;
   color: rgb(249, 253, 0);
   margin-left: 62rem;
 }

 .footer-second
 {
   font-size: 2rem;
   font-weight: bolder;
   color: rgb(244, 72, 4);
   margin-left: 54rem;
   margin-top: 2rem;
 }

 .last-img img
 {
   height: 14rem;
   width: 100%;
   background-color: transparent;
 }

 footer
 {
   height: 28rem;
   width: 100%;
   background-color: #000000;
   margin-top: 10rem;
   /* border: 4px solid white; */
   text-align: center;
 }

 .container 
 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
 }

 .column1
 {
   height: 20rem;
   width: 80rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: .8rem;
 }

 .column2
 {
   width: 80rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-bottom: 20rem;
   /* margin-left: 200px; */
 }

 .column3
 {
   width: 80rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-bottom: 20rem;
   /* margin-left: 300px; */
 }

 .column4
 {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-bottom: 20rem;
   /* margin-left: 300px; */
   /* margin-right: 20px; */
 }

 .column4 p
 {
   color: #ffffff;
 }
 
 .container h3
 {
   color: #fcd705;
 }

 a 
 {
   color: white;
   text-decoration: none;
 }
 
 .container a:hover 
 {
   text-decoration: underline;
 }
